@import colors
@import prefixes
@import extraIg

.ig
    @import basics
.ig.base
    position relative
    .party
        position relative
        float left
        width 476px
        overflow hidden
        margin-left 10px
        margin-top 10px
        height 120px
        background #f5f5f5
        h2
            position absolute
            top 0px
            left 0px
            width 100%
            margin 8px 10px
            text-align left
            font-weight normal
            color #555
            font-size 0.9em
        .month
            position absolute
            bottom 0px
            background green
        .volby
            position absolute
            top 0px
            height @height
            border-left 1px dotted #aaa
            width 5px
